name: CI Pull Request Check

on:
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

              # Cache node_modules
            - uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: "npm"

            - name: install dependencies
              run: npm ci --legacy-peer-deps
            - name: workaround for detached HEAD
              run: |
                git checkout "$GITHUB_HEAD_REF"
            - name: test screenshots
              run: npx reg-suit run
